#**<font color='orange'>Explorando los Datos</font>**

##**<font color='green'>Importando Librerias</font>**

In [29]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import yellowbrick
import matplotlib.pyplot as plt


print(f'Versión de pandas: {pd.__version__}')
print(f'Versión de numpy: {np.__version__}')
print(f'Versión de scikit-learn (sklearn): {sklearn.__version__}')
print(f'Versión de seaborn: {sns.__version__}')
print(f'Versión de yellowbrick: {yellowbrick.__version__}')

Versión de pandas: 2.2.2
Versión de numpy: 2.0.2
Versión de scikit-learn (sklearn): 1.6.1
Versión de seaborn: 0.13.2
Versión de yellowbrick: 1.5

In [30]:
datos = pd.read_csv('/content/telecomX_ready_for_analysis.csv')
datos.head()

,customerid,churn,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,...,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges
0,0002-ORFBO,0,Female,0,1,1,9,1,No,DSL,...,Yes,No,Yes,Yes,No,One year,1,Mailed check,65.6,593.30
1,0003-MKNFE,0,Male,0,0,0,9,1,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,0,Mailed check,59.9,542.40
2,0004-TLHLJ,1,Male,0,0,0,4,1,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,1,Electronic check,73.9,280.85
3,0011-IGKFF,1,Male,1,1,0,13,1,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,98.0,1237.85
4,0013-EXCHZ,1,Female,1,1,0,3,1,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,1,Mailed check,83.9,267.40

##**<font color='green'>Eliminación de Columnas Irrelevantes</font>**

Descripción

Elimina columnas que no aportan valor al análisis o a los modelos predictivos, como identificadores únicos (por ejemplo, el ID del cliente). Estas columnas no ayudan en la predicción de la cancelación y pueden incluso perjudicar el desempeño de los modelos.

In [31]:
df = datos.drop(columns=['customerid'])
df.sample(5)

,churn,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges
1256,0,Male,0,1,0,31,1,No,Fiber optic,No,No,Yes,No,Yes,Yes,One year,1,Electronic check,93.80,2939.80
1413,0,Male,0,0,0,3,1,No,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Month-to-month,1,Electronic check,107.95,318.60
3393,0,Male,0,1,0,72,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Two year,1,Bank transfer (automatic),103.75,7346.20
4593,0,Male,0,0,0,25,1,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,0,Credit card (automatic),19.90,510.80
4304,0,Female,0,0,0,27,1,No,DSL,Yes,Yes,No,No,No,No,Two year,0,Bank transfer (automatic),52.85,1498.65

##**<font color='green'>Encoding</font>**

Descripción

Transforma las variables categóricas a formato numérico para hacerlas compatibles con los algoritmos de machine learning. Utiliza un método de codificación adecuado, como one-hot encoding.

###**<font color='turquoise'>Paso 1. Identificar las Variables Categoricas</font>**

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   churn              7043 non-null   int64
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   int64
 4   dependents         7043 non-null   int64
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   int64
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   int64
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   float64
dtypes: float64(2), int64(7), object(11)
memory usage: 1.1+ MB

### Columnas Categoricas

---

In [34]:
# Mejor enfoque: One-Hot Encoding para contract
df_encoded = pd.get_dummies(df, columns=['contract'], prefix='contract')

In [35]:
# Verificar las nuevas columnas de contract
contract_columns = [col for col in df_encoded.columns if 'contract_' in col]
print("Columnas creadas para contract:", contract_columns)

Columnas creadas para contract: ['contract_Month-to-month', 'contract_One year', 'contract_Two year']

In [ ]:
df['contract'].unique()

In [ ]:
df['Month-to-month'] = df['contract'].replace({})